/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

$colors: (
  white: #fff,
  grey: #fff
);
